/*  FONT */
h1, h2, h3 {
  font-family: mostraoneregularregular;
}

h1 {
  font-size: 24px;
}
  /*  NAVIGATION  */
  .nav-link a {
    font-family: mostraoneregularregular;
    font-size: 20px;
  }

    .nav-link:hover,
    .nav-link.active {
      background-color: rgba(0,0,0,0.37);
    }


.nospace {
  margin:0;
  padding: 0 
}




/* This changes must be replaced in WEBFLOW */
.input {
  border: 1px solid rgb(44, 44, 44);
  font-family: mostraoneregularregular;
}

a {
  color: white;
}

img {
  height: auto;
}

h2 {
  padding-top: 0px;
  margin-top: 0px;
}



/*  LOADER  */
.loader_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  top: 0;
  left: 0;
  z-index: 999
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  width: 30px;
  height: 59px;
  margin: -30px 0 0 -30px;
  text-indent: -999em;
  background: url(../images/progress.gif) no-repeat center center;
  background-size: contain;
}


/*  TENDA WRAPPER   */

.tenda_wrapper {
  overflow: hidden;
  height: 178px;
}


/*  SUB MAIN CONTENT  */
.picture_flyer ul {
  padding: 22px 0 0;
  margin-left: -20px;
  min-height: 270px;
}

  .picture_thumb {
    width: 13%;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
  }

    .picture_thumb:hover {
      opacity: 0.7;
      box-shadow: 0;
    }


/* NAVIGATION */

.nav-link {
  padding: 26px 30px;
  cursor: pointer;
  margin: 0px !important;
}

  .nav-list a{
    color: white;
    text-decoration: none;
  }




/*  CLOSE BUTTON  */
.close-btn {
  float: right;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 10px;
  color: rgb(179, 0, 0);;
  padding: 10px;
}

.close-btn:hover {
  color: rgb(85, 3, 3);
}

.close-btn img {
  width: 80px;
}





/* SUB NAVIGATION */
.sub_nav{
  margin-bottom: 0;
  cursor: pointer;
  background-color: rgba(0,0,0,0.17);
  font-family: mostraoneregularregular;
  font-size: 16px;
}

  .sub_nav:hover,
  .sub_nav.active{
    background-color: rgba(0,0,0,0.37);
  }

/*  Exhibition  */
.exhib {
  position: relative;
  margin-bottom: 20px;
}

  .exhib-nav {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    z-index: 99;
  }

    .exhib-nav-btn {
      font-size: 16px;
      color: rgb(78,78,78);
      text-transform: uppercase;
      display: inline-block;
      padding:6px 10px 6px 6px;
      border: 1px solid; 
      cursor: pointer;
      margin-right: 10px;
      background-color: rgba(255,255,255,0.7);
      font-family: mostraoneregularregular;
    }

      .exhib-nav-btn:hover {
        color: #fff;
        background-color: rgb(78,78,78);
      }

    /*  Front Flyer Exhibtion  */

    .front_flyer {
      position: relative;
    }

      .front_flyer.opaco:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 91%;
        top: 15px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
      }

    /*  Back Flyer  */
    .back_flyer p {
      white-space: normal !important;
    }

/*  PAGINATION  */

.pagination {
  list-style: none;
  text-align: right;
}

  .pagination li {
    display: inline-block;
    margin-left: 10px; 
    padding: 5px 10px;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
    border: 1px solid rgb(31, 31, 31); 
  }



    .pagination li:hover,
    .pagination li.active {
      background-color: rgba(65, 2, 2, 0.27);
    }

    .pagination li.disabled {
      background-color: rgba(0, 0, 0, 0.23);
      cursor: default;
    }

    .pagination li a{
      text-decoration: none;
      color: rgb(78,78,78);
    }





/*  SUB MAIN CONTENT  */
.sub_main_content {
  border: 1px solid rgb(44, 44, 44);
}

.sub_main_content p {
  text-align: left;
}

.sub_main_content ul.part-artist li,
.sub_main_content p,
.team li {
  white-space: pre-wrap;
}


  .sub_main_content ul.part-artist li,
  .team li {
    display: inline-block;
    width: 100%;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.28);
    margin-top: 10px;
    font-family: mostraoneregularregular;
    font-size: 16px;
  }

    .sub_main_content button {
      width: 100%;
      padding: 35px;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.73);
      border: 1px solid rgb(44, 44, 44);
      color: white;
      font-family: mostraoneregularregular;
      font-size: 24px;
    }



/*  CONTACT  */
.contact ul {
  list-style: none;
}

  .contact ul li {
    padding: 4px;
  }

.contact h3 {
  font-size: 16px;
}



/*  IMAGE GALLERY  */

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

/*.slider {
  position: relative;
padding: 14px 0px;
width: 70%;
height: 80%;
margin: auto;
margin-top: 60px;
box-shadow: 0px 0px 315px #1F1F1F;
}*/
.slide {
  position: fixed;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  box-shadow: 0px 0px 315px rgba(41, 41, 41, 1);
  background-color: black;
}
.arrows a{
  position: absolute;
  top: 45%;
  /* background-color: red; */
  /* height: 64px; */
  width: 50px;
}
  .arrows a.prev{
    left: 15%;
  }
  .arrows a.next{
    right: 15%;
  }
.arrows img {
}
.arrows a {
  text-decoration: none;
}

