<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" type="text/css" href="styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="styles/webflow.css">
    <link rel="stylesheet" type="text/css" href="styles/milkandlead.webflow.css">
    <link rel="stylesheet" type="text/css" href="styles/milk_font.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body id="ng-app" ng-app="milkandleadApp" ng-style="bodyStyle">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- TENDA WRAPPER -->
    <div class="w-hidden-small w-hidden-tiny tenda_wrapper" id="tenda_wrapper">
      <div class="tenda no-bg" id="slide-home">
        <div class="w-container">
          <div class="tenda-single tenda-home"></div>
        </div>
      </div>
      <div class="tenda" id="slide-about">
        <div class="w-container">
          <div class="tenda-single tenda-about"></div>
        </div>
      </div>
      <div class="tenda" id="slide-exhibition">
        <div class="w-container">
          <div class="tenda-single exhibition"></div>
        </div>
      </div>
      <div class="tenda" id="slide-shop">
        <div class="w-container">
          <div class="tenda-single tenda_shop"></div>
        </div>
      </div>
      <div class="tenda" id="slide-contact">
        <div class="w-container">
          <div class="tenda-single tenda_contacts"></div>
        </div>
      </div>
    </div>
    <!-- END TENDA WRAPPER -->

    <!-- NAVIGATION -->
    <div class="navigation" id="navigation" ng-controller="NavigationCtrl">
      <div class="w-container">
        <div class="w-row">
          <a href="#slide-home" ng-click="changePanel('home')">
            <div class="w-col w-col-3 w-clearfix">
              <div class="stamp">
                <img src="images/timbro_web.png" alt="5422e92f727645b904ee40dc_timbro_web.png">
              </div>
              <div class="typo-logo">
                <img src="images/milkandlead_web.png" alt="5423013f045a2fbb0430874f_milkandlead_web.png">
              </div>
            </div>
          </a>
          <div class="w-col w-col-7">
            <ul class="w-clearfix nav-list">
              <li class="nav-link" ng-class="{active: navActive=='about'}"><a ng-href="#/about" ng-click="changePanel('about')">ABOUT</a></li>
              <li class="nav-link" ng-class="{active: navActive=='exhibition'}"><a href="#/exhibitions" ng-click="changePanel('exhibition')">EXHIBITIONS</a></li>
              <li class="nav-link" ng-class="{active: navActive=='shop'}"><a href="#/shop" ng-click="changePanel('shop')">SHOP</a></li>
              <li class="nav-link" ng-class="{active: navActive=='contact'}"><a href="#/contact" ng-click="changePanel('contact')">CONTACT</a></li>
            </ul>
          </div>
          <div class="w-col w-col-2">
            <div class="social_icons">
              <a href="https://www.facebook.com/MilkandLeadArtGalleryLondon?fref=ts" target="_blank">
                <img src="http://216.120.239.144/bondz/wp-content/uploads/2013/07/097668-black-ink-grunge-stamp-textures-icon-social-media-logos-facebook-logo-square.png">
              </a>
            </div>
            <div class="social_icons twitter_icon">
              <a href="https://twitter.com/MILKandLEAD" target="_blank">
                <img src="http://uploads.webflow.com/5305c804570cfdeb39000030/530733f7ffe7f910440005d4_097740-black-ink-grunge-stamp-textures-icon-social-media-logos-twitter-logo-square.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END NAVIGATION -->

    <!-- MAIN -->
    <div id="main" ng-view="">
    </div>
    <!-- END MAIN -->

    <!-- LOADER -->
    <div class="loader_wrap" ng-show="loading">
      <div class="loader"></div>
    </div>
    <!-- END LOADER -->
    


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/wpapi.js"></script>
        <script src="scripts/controllers/navigation.js"></script>
        <script src="scripts/controllers/exhibitions.js"></script>
        <script src="scripts/controllers/shop.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/imagegallery.js"></script>
        <!-- endbuild -->
</body>
</html>
