<div class="w-container main_container_wrap animate-switch-container" ng-switch on="selection">
  
  <!-- SUBNAV -->
  <div id="sub-nav">
    <div class="w-row">
      <div class="w-col w-col-4">
        <div class="sub_nav" ng-click="selection = subnav[0]" ng-class="{active: selection == subnav[0]}">
          <div>ABOUT</div>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="sub_nav" ng-click="selection = subnav[1]" ng-class="{active: selection == subnav[1]}">
          <div>SUPPORT&nbsp;US</div>
        </div>
      </div>
      <div class="w-col w-col-4"></div>
    </div>
  </div>
  <!-- END SUBNAV -->
  
  <!-- ABOUT -->
  <div class="animate-switch" ng-switch-when="about">
    <div class="sub_main_content">
      <p>MILKandLEAD is an independent art gallery organisation fouded on October the 22nd 2009 by Francesco Vertucci e Jasmine Balder.
        <br>The gallery has been active into the underground movements for over 5 years, exhibiting artists whose sign –we feel- is leaving a unique impression in this moment in history.
        <br>After organising different kind of events the gallery started as well with a new different projects MILKandLEAD “secret gallery” and דיאליזה- DIALYSIS (Body Art Performances) exhibiting between huge rich places and decadent squats were the
        athmosphere reflects the mood of the event. The new gallery space is based in london fields , east London UK.
        <br>In 2012 Raffaella Mandriota has joined our team as Managing director and carrying on projects with Francesco Vertucci as Creative director and art curator.</p>
    </div>
  </div>
  <!-- END ABOUT -->

  <!-- SUPPORT US -->
  <div class="animate-switch" ng-switch-when="support">
    <div class="sub_main_content">
      <div class="w-row">
        <div class="w-col w-col-6">
          <p>Supporting our research for the discovery of new cultural and artistic forms but never allowing the mainstream to suffocate what differentiates itself from the logic of the masses; usually because it springs out of a simple and honest personal
            belief.</p>
        </div>
        <div class="w-col w-col-6">
          <img src="images/donate-with-paypal.jpg" width="240" alt="5425729b4f9509a917fe654d_donate-with-paypal.jpg">
        </div>
      </div>
    </div>
  </div>
  <!-- END SUPPORT US -->

</div>