<div class="w-container main_container_wrap animate-switch-container" ng-switch on="selection">
  
  <!-- SUBNAV -->
  <div id="sub-nav">
    <div class="w-row">
      <div class="w-col w-col-4">
        <div class="sub_nav" ng-click="selection = subnav[0]" ng-class="{active: selection == subnav[0]}">
          <div>ABOUT</div>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="sub_nav" ng-click="selection = subnav[1]" ng-class="{active: selection == subnav[1]}">
          <div>SUPPORT&nbsp;US</div>
        </div>
      </div>
      <div class="w-col w-col-4"></div>
    </div>
  </div>
  <!-- END SUBNAV -->
  
  <!-- ABOUT -->
  <div class="animate-switch" ng-switch-when="about">
    <div class="sub_main_content" ng-bind-html="homeDetObj.content"></div>
  </div>
  <!-- END ABOUT -->

  <!-- SUPPORT US -->
  <div class="animate-switch" ng-switch-when="support">
    <div class="sub_main_content">
      <div class="w-row">
        <div class="w-col w-col-6">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="6RGCZAUB2ZEKA">
            <button name="submit">Donate with PayPal
              <img src="../images/donate-with-paypal.jpg" width="240" alt="5425729b4f9509a917fe654d_donate-with-paypal.jpg">
            </button>
          </form> 
        </div>
        <div class="w-col w-col-6">
          <div ng-bind-html="homeDetObj.custom_fields['wpcf-about_description'][0]"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- END SUPPORT US -->

</div>