<div class="w-container main_container_wrap">
      <div>
        <div class="sub_main_content">
          <div>
            <div class="w-row">
              <div class="w-col w-col-6">
                <h4>Contact</h4>
                <div>info@milkandlead.com</div>
                <div>nekromarkt@milkandlead.com</div>
                <div>press@milkandlead.com</div>
                <h4>Team</h4>
                <div>Art Director: Francesco Vertucci</div>
                <div>Managing Director: Raffaella
                  <br>Mandriota</div>
                <div>Coordinator: Francesco Carvelli</div>
                <div>Web: Giorgio Scappaticcio</div>
              </div>
              <div class="w-col w-col-6">
                <h4>Address</h4>
                <div>35-37 Fortescue Avenue E83QB</div>
                <div class="w-widget w-widget-map" data-widget-latlng="51.540593,-0.057171" data-widget-style="roadmap" data-widget-zoom="12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>