<div class="w-container main_container_wrap">
  
  <!-- SUBNAV -->
  <div id="sub-nav">
    <div class="w-row">
      <div class="w-col w-col-4">
        <div class="w-form">
          <input class="w-input input" id="Search-2" ng-model="filterText.$" type="text" placeholder="Search Exhibitions" name="Search">
        </div>
      </div>
      <div class="w-col w-col-4"></div>
      <div class="w-col w-col-4"></div>
    </div>
  </div>
  <!-- END SUBNAV -->

  <!-- SINGLE EXHIBITION -->
  <div class="exhib" ng-repeat="exhib in exhibObj | filter: filterText track by $index" ng-mouseenter="opaco=true" ng-mouseleave="opaco=false">
    
    <div class="close-btn" ng-click="selection = subnav[0]; opaco=true; closeBtn=false" ng-show="closeBtn">
      <i class="icon-cancel"></i>
    </div>

    <div class="exhib-nav" ng-show="opaco && !closeBtn">
      <div class="exhib-nav-btn" ng-click="selection = subnav[1]; closeBtn=true">
        <i class="icon-th-thumb"></i> Gallery
      </div>
    
      <div class="exhib-nav-btn" ng-click="selection = subnav[2]; closeBtn=true">
        <i class="icon-info"></i> Info
      </div>
    </div>
    
    <div class="sub_main_content" ng-switch on="selection">
      
      <!-- Front -->
      <div class="front_flyer mementomori" style="background-image:url({{exhib.custom_fields['wpcf-facebook-banner'][0]}})" ng-switch-when="front" ng-class="{opaco: opaco}">
      </div>

      <!-- Pictures flyer -->
      <div class="picture_flyer" ng-switch-when="pictures">
        <ul>
          <li class="picture_thumb thumb_1" dir-paginate="(indice,thumb) in exhib.custom_fields['wpcf-gallery-image'] | itemsPerPage: thumbPerPage: returnString($index)" pagination-id="{{returnString($index)}}" ng-click="openImageGallery(exhib.custom_fields['wpcf-gallery-image'], indice)">
            <img ng-src="{{spiceThumb(thumb)}}" />
          </li>
        </ul>
        <dir-pagination-controls pagination-id="{{returnString($index)}}" template-url="./views/thumb_pagination.html"></dir-pagination-controls>
      </div>

      <!-- Info -->
      <div class="back_flyer" ng-switch-when="info">
        <h2 ng-bind="exhib.title_plain"></h2>
        <h3 ng-bind="exhib.custom_fields['wpcf-exhibition_date']"></h3>
        <p ng-bind-html="exhib.content"></p>
      </div>

    </div>
  </div>

</div>

<!-- Image Gallery -->
<div class="slide-animate-container">
  <div class="slide-animate" ng-include="imageGallery.url"></div>
</div>