<div class="overlay">
	<div class="close-btn" ng-click="closeImageGallery()">
		<img src="../images/back_button_web.png" />
	</div>

	
		<div class="slide" ng-repeat="image in $parent.galleryAlbum" ng-show="image.visible" style="background-image:url({{image.source}})">
	<!--       <img ng-src="{{image.source}}" /> -->
	    </div>
	    <div class="arrows">
	      <a class="prev" href="" ng-click="prev()">
	      	<img src="../images/left-arrow.png" />
	      </a>
	      <a class="next" href="" ng-click="next()">
	      	<img src="../images/right-arrow.png" />
	      </a>
		</div>
	

</div>
