<div class="w-container main_container_wrap animate-switch-container" ng-switch on="selection">
  
  <!-- SUBNAV -->
  <div id="sub-nav">
    <div class="w-row">
      <div class="w-col w-col-4 w-col-small-4 sub-nav_col">
        <div class="sub_nav" ng-click="selection = subnav[2]" ng-class="{active: selection == subnav[2]}">
          <div>PARTECIPATING ARTISTS</div>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-small-4 sub-nav_col"></div>
      <div class="w-col w-col-4 w-col-small-4 sub-nav_col" ng-hide="true">
        <div class="sub_nav" ng-click="selection = subnav[1]" ng-class="{active: selection == subnav[1]}">
          <div>INFORMATION</div>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-small-4 sub-nav_col">
        <div class="sub_nav" ng-click="selection = subnav[3]" ng-class="{active: selection == subnav[3]}">
          <div>SUBMIT YOUR ARTWORK</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END SUBNAV -->

  <!-- FLYER -->
  <div class="information_flyer animate-switch" ng-switch-when="flyer" ng-hide ="true">
    <div class="sub_main_content">
      <img ng-src="{{ nextExhibObj.custom_fields['wpcf-facebook-banner'][0] }}" id="sub-main-info" alt="milk_and_lead_next_exhibition">
    </div>
  </div>
  <!-- END FLYER -->

  <!-- INFORMATION -->
  <div class="animate-switch" ng-switch-when="info">
    <!-- <div class="close-btn" ng-click="closebtn()"><i class="icon-cancel"></i></div> -->
    <div class="sub_main_content">
      <h2 ng-bind="nextExhibObj.title_plain">D E L I Q U I U M</h2>
      <h3 ng-bind="nextExhibObj.custom_fields['wpcf-exhibition_intro'][0] "></h3>
      <h3 ng-bind="nextExhibObj.custom_fields['wpcf-exhibition_date'][0] "></h3>
      <p ng-bind-html="nextExhibObj.content"></p>
    </div>
  </div>
  <!-- END INFORMATION -->

  

  <!-- PARTECIPATING ARTIST -->
  <div class="animate-switch" ng-switch-when="partecipating">
    <div class="close-btn" ng-click="closebtn()"><img src="../images/back_button_web.png" /></div>
    <div class="sub_main_content">
      <ul class="part-artist">
        <li ng-repeat="artist in nextExhibObj.custom_fields['wpcf-partecipating-artist']">
          <span ng-bind="artist"></span>
        </li>
      </ul>    
    </div>
  </div>
  <!-- END PARTECIPATING ARTIST -->

  <!-- ARTIST SUBMISSION -->
  <div class="animate-switch" ng-switch-when="submission">
    <div class="close-btn" ng-click="closebtn()"><img src="../images/back_button_web.png" /></div>
    <div class="sub_main_content">
      <div class="w-row">
        <div class="w-col w-col-12 w-col-small-12" style="padding-bottom:20px">
          <h2 class="nospace">Guideline</h2>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-12 w-col-small-12">
          <p ng-bind="nextExhibObj.custom_fields['wpcf-submission'][0] "></p>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-12 w-col-small-12">
          <form action="http://www.milkandlead.com/wp-content/themes/milkandlead/paypal/paypal_ec_redirect.php" method="POST">
            <input type="hidden" name="PAYMENTREQUEST_0_ITEMAMT" value="15.00"></input>
            <input type="hidden" name="PAYMENTREQUEST_0_AMT" value="15.00"></input>
            <input type="hidden" name="currencyCodeType" value="GBP"></input>
            <input type="hidden" name="paymentType" value="Sale"></input>
            <input type="hidden" name="PAYMENTREQUEST_0_SHIPPINGAMT" value="0"></input>
            <input type="hidden" name="L_PAYMENTREQUEST_0_QTY0" value="1"></input>
            <input type="hidden" name="LOGOIMG" value="http://www.milkandlead.com/wp-content/themes/milkandlead/images/timbro.png"></input>
            <button>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END ARTIST SUBMISSION -->

  <!-- SUBNAV -->
  <div id="sub-nav">
    <div class="w-row">
      <div class="w-col w-col-4 w-col-small-4 sub-nav_col">
        <div class="sub_nav" ng-click="selection = subnav[2]" ng-class="{active: selection == subnav[2]}">
          <div>PARTECIPATING ARTISTS</div>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-small-4 sub-nav_col" ng-hide="true">
        <div class="sub_nav" ng-click="selection = subnav[1]" ng-class="{active: selection == subnav[1]}">
          <div>INFORMATION</div>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-small-4 sub-nav_col"></div>
      <div class="w-col w-col-4 w-col-small-4 sub-nav_col">
        <div class="sub_nav" ng-click="selection = subnav[3]" ng-class="{active: selection == subnav[3]}">
          <div>SUBMIT YOUR ARTWORK</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END SUBNAV -->

</div>