<div class="w-container main_container_wrap animate-switch-container" ng-switch on="selection">
  
  <!-- SUBNAV -->
  <div id="sub-nav">
    <div class="w-row">
      <div class="w-col w-col-4 w-col-small-4 sub-nav_col">
        <div class="sub_nav">
          <div> </div>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-small-4 sub-nav_col">
        <div class="sub_nav">
          <div> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END SUBNAV -->

  <!-- INFORMATION -->
  <div class="animate-switch">
    <div class="sub_main_content">
      <h2>NEKROMARKT</h2>
      <p ng-bind-html="homeDetObj.custom_fields['wpcf-shop-description'][0]"></p>
      <a href="http://nekromarkt.com">
        <img ng-src="{{ homeDetObj.custom_fields['wpcf-shop-banner'][0] }}" id="sub-main-info" alt="milk_and_lead_nekro_markt">
      </a>
    </div>
  </div>
  <!-- END INFORMATION -->
</div>